/* *{
    background-color: aqua;
} */
#rectangle {
  border: 2px solid black;
  /* display: block;
    margin: auto auto; */
  height: 60vh;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

